<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- easyui start-->
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/jquery-easyui-1.6.3/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/jquery-easyui-1.6.3/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/jquery-easyui-1.6.3/demo/demo.css" />
    <script type="text/javascript" src="#springUrl('')/static/jquery-easyui-1.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/static/jquery-easyui-1.6.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/static/jquery-easyui-1.6.3/locale/easyui-lang-zh_CN.js"></script>
    <!--easyui end-->

    <script type="text/javascript">
        var springUrl = "#springUrl('')";   //路径全局变量
    </script>
</head>
<body  class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
        north region11
    </div>
    <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">
        west content
    </div>
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
        east region
    </div>
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
        south region
    </div>
    <div data-options="region:'center',title:'Center'">
        $screen_content
    </div>
</body>
</html>

