<script type="text/javascript" src="../../static/js/common/util/nc_alert.js"></script>
##<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
##<script type="text/javascript" src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
##<script type="text/javascript" src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../static/bootstraptable/bootstrap-table.js"></script>
<script type="text/javascript" src="../../static/bootstraptable/bootstrap-table-zh-CN.js"></script>
<script type="text/css" src="../../static/bootstraptable/bootstrap-table.css"></script>
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <table id="testtable">
                </table>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">1弹出</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".dbcxue-modal">弹出2</button>
<button onclick="initdata()">弹出3</button>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">弹出的测试</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/taStuPe/insertTaStuPe">

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">姓 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="taTestNBA0" name="taTestNBA0" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">名 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="taTestNBA1" name="taTestNBA1" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">某属性</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="taTestNBA2" class="form-control" type="text" name="taTestNBA2">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">性别</label>
                        <div class="col-md-6 col-sm-6 ">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="taTestNBA3" value="male" class="join-btn"> &nbsp; 男 &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="taTestNBA3" value="female" class="join-btn"> &nbsp; 女 &nbsp;
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button class="btn btn-primary" type="button">取消</button>
                            <button class="btn btn-primary" type="reset">重置</button>
                        ##                            <button type="submit" class="btn btn-success">提交</button>
                            <button onclick="btnclick()" class="btn btn-success">提交</button>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade dbcxue-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                aaaaaaaaaaaa
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var curpage = 1;
    function testinit() {

        $('#testtable').bootstrapTable("destroy");
        $('#testtable').bootstrapTable({
//            url: '/taStuPe/insertTaStuPe',         //请求后台的URL（*）
//            url: '/taStuPe/findTaStuPe',         //请求后台的URL（*）
//            url: '/taStuPe/findTaStuPePage',         //请求后台的URL（*）
            url: '/taStuPe/findTaStuPePageServe',         //请求后台的URL（*）

            pagination: true,
            sidePagination: "server",
            search: true,
            method: 'post',
//            queryParams:{delflag:1,taTestNBA0:"2222",taTestNBA1:"333",taTestNBA2:"444",taTestNBA3:"444",taTestNBA4:"444"},
            queryParams:{taTestNBA0:"2222",page:curpage,pageSize:10 },
            dataField : "data",
            columns: [{
                field: 'taTestNBA0',
                title: '主键'
            }, {
                field: 'taTestNBA1',
                title: '名称'
            }, {
                field: 'taTestNBA2',
                title: '价格'
            }]
        });
//        $('#testtable').bootstrapTable('hideLoading');
        debugger;
        $('#testtable').bootstrapTable("hideLoading");
        $('#testtable').on( 'page-change.bs.table', function ( e, number, size ) {
            alert('切换页事件 --- 当前页数：第' + number + "页，每页显示数量" + size + "条");
            $('#tableList').bootstrapTable('refresh', {
                url : '/taStuPe/findTaStuPePageServe',page:number,pageSize:size
            });
        } );
        alert(444);
    }
    testinit();
</script>
