<script type="text/javascript" src="../../static/js/common/util/nc_alert.js"></script>
<script type="text/javascript" src="../../static/bootstraptable/bootstrap-table.js"></script>
<script type="text/javascript" src="../../static/bootstraptable/bootstrap-table-zh-CN.js"></script>
<script type="text/css" src="../../static/bootstraptable/bootstrap-table.css"></script>

<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default">
        <span class="fa fa-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_edit" type="button" class="btn btn-default">
        <span class="fa fa-edit" aria-hidden="true"></span>修改
    </button>
    <button id="btn_delete" type="button" class="btn btn-default">
        <span class="fa fa-minus-circle" aria-hidden="true"></span>删除
    </button>
</div>
<table id="testtable"></table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">1弹出</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".dbcxue-modal">弹出2</button>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">MODEL修改</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveTestNBAForm" method="post" data-parsley-validate class="form-horizontal form-label-left" action="/taStuPe/insertTaStuPe">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">taTestNBA0 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="taTestNBA0" name="taTestNBA0" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">taTestNBA1 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="taTestNBA1" name="taTestNBA1" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">taTestNBA2</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="taTestNBA2" class="form-control" type="text" name="taTestNBA2">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">taTestNBA3</label>
                        <div class="col-md-6 col-sm-6 ">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="taTestNBA3" value="male" class="join-btn"> &nbsp; 男 &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="taTestNBA3" value="female" class="join-btn"> &nbsp; 女 &nbsp;
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button class="btn btn-primary" type="button">取消</button>
                            <button class="btn btn-primary" type="reset">重置</button>
                        ##                            <button type="submit" class="btn btn-success">提交</button>
                            <button onclick="btnclick()" class="btn btn-success">提交</button>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade dbcxue-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                aaaaaaaaaaaa
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var curPageNum = 1;
    function getModifyData() {
        var obj = {};
        obj.taTestNBA0 = $("#taTestNBA0").val();
        obj.taTestNBA1 = $("#taTestNBA1").val();
        obj.taTestNBA2 = $("#taTestNBA2").val();
        return obj;
    }
    function btnclick() {
        var dataParam = getModifyData();
        alert(66666);
        $.ajax({
            type:"POST",
            url:"/taStuPe/insertTaStuPe",
            dataType:"json",
            data:JSON.stringify(dataParam),
            contentType:"application/json",
            success:function(data){
            if(data.success){
                $("searchResult").html(data.msg);
            }else{
                $("#searchResult").html("出现错误：" + data.msg);
            }
        },
        error:function(jqXHR){
            aler("发生错误："+ jqXHR.status);
        }
    });
    }
    function testinit() {
        $('#testtable').bootstrapTable({
            url: '/taStuPe/findTaStuPePageServe',
            onPageChange:pageChage,
            pagination: true,
            sidePagination: "server",
            toolbar:'#toolbar',
//            classes:'table-sm',
            method: 'post',
            queryParams: getQueryParams,
            onLoadSuccess:loadSuccess,
            dataField : "data",
            columns: [{
                field: 'issel',
                title: '选择',
                radio:true
            },{
                field: 'taTestNBA0',
                title: '主键'
            }, {
                field: 'taTestNBA1',
                title: '名称'
            }, {
                field: 'taTestNBA2',
                title: '价格'
            }, {
                field:"actionId",
                title:"操作",
                align:"center",
                formatter:formatterActionColomn
            }]
        });
        $('#historytable').bootstrapTable('hideLoading');
    }

    function pageChage(number, size) {
        curPageNum = number;
        $('#tableList').bootstrapTable('refresh');
    }
    function formatterActionColomn(value,row,index,field){
        return '<a href="javascript:void(0);" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-edit"></i> </a>' +
                '<a href="javascript:void(0);"><i class="fa fa-minus-circle"></i></a>'
    }
    function getQueryParams(queryParam) {
        return {page:curPageNum,pageSize:10 }
    }
    function loadSuccess(data) {
        $('#historytable').bootstrapTable('hideLoading');
    }
    testinit();
</script>
