<div id="right-content">
	 <div class="steps mb10">
		 <ul class="steps-1 clearfix">
			 <li class=""><a href="#">自动工程看看好使不添加</a></li>
		 </ul>
	 </div>
	 <div class="modify-view" style="height:auto;">
		 <form id="toCodeForm" method="post" onsubmit="return   false ">
			                  <div class="textL">业务列的数据库的备注0 ：<input type="text" class="textField28 modify-view-input" id="TaTestNBA0"/></div>
			                  <div class="textL">业务列的数据库的备注1 ：<input type="text" class="textField28 modify-view-input" id="TaTestNBA1"/></div>
			                  <div class="textL">业务列的数据库的备注2 ：<input type="text" class="textField28 modify-view-input" id="TaTestNBA2"/></div>
			                  <div class="textL">业务列的数据库的备注3 ：<input type="text" class="textField28 modify-view-input" id="TaTestNBA3"/></div>
			                  <div class="textL">业务列的数据库的备注4 ：<input type="text" class="textField28 modify-view-input" id="TaTestNBA4"/></div>
			 		 </form>
	 </div>
	 <div class="data-table-footer clearfix" align="center">
		 <a class="btn btn-3 " onclick="insertTaStuPe()"
			href="javascript:void(0);">&ensp;<span id="spanPrintOrder"><em id="txtPrintOrder">添加</em></span>
		 </a>
		 <a class="btn btn-3 " onclick="cancelTaStuPe()"
			href="javascript:void(0);">&ensp;<span><em>返回</em></span>
		 </a>
	 </div>

</div>
<script type="text/javascript" src="#springUrl('')/static/js/taStuPe/taStuPeViewIns.js"></script>