<link href="./css/bootstrap.css" rel="stylesheet">

<!-- Required Javascript -->
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap-treeview.js"></script>

888888888888888888888888
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">第一级菜单</a>
                    </li>
                    <li class="active">thirdTestView??!!</li>
                </ul>
            </div>

            <div class="page-content">
                            <form class="form-horizontal" role="form">

                                                                    <td class="textRW"> 11业务111列的数据库的备注0：</td>
                        <td class="textL" width="200">
                            <input type="text" class="textField28" id="txtTaTestNBA0" name="txtTaTestNBA0"/>
                        </td>
                                                                                            <td class="textRW"> 业务列的数据库的备注1：</td>
                        <td class="textL" width="200">
                            <input type="text" class="textField28" id="txtTaTestNBA1" name="txtTaTestNBA1"/>
                        </td>
                                                                                            <td class="textRW"> 业务列的数据库的备注2：</td>
                        <td class="textL" width="200">
                            <input type="text" class="textField28" id="txtTaTestNBA2" name="txtTaTestNBA2"/>
                        </td>
                                                                                            <td class="textRW"> 业务列的数据库的备注3：</td>
                        <td class="textL" width="200">
                            <input type="text" class="textField28" id="txtTaTestNBA3" name="txtTaTestNBA3"/>
                        </td>
                                                                                            <td class="textRW"> 业务列的数据库的备注4：</td>
                        <td class="textL" width="200">
                            <input type="text" class="textField28" id="txtTaTestNBA4" name="txtTaTestNBA4"/>
                        </td>
                                            
                    <label class="control-label"> 属性1 </label>
                    <input type="text" id="form-field-1" placeholder="属性1" />
                    <label class="control-label"> 属性12 </label>
                    <input type="text" id="form-field-1" placeholder="属性12" />
                    <label class="control-label"> 属性13 </label>
                    <input type="text" id="form-field-1" placeholder="属性13" />
                    <a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="">
                        <span>
                            <i class="fa fa-search bigger-110 blue"></i>
                        </span>
                    </a>
                </form>

                            <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>属性1</th>
                        <th>属性2</th>
                        <th>属性13</th>
                        <th class="hidden-480">属性14</th>
                        <th>
                            属性15
                        </th>
                        <th class="hidden-480">属性16</th>
                        <th>属性17</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            轻轻巧巧
                        </td>
                        <td>
                            <a href="#">;ptdg,kjgky;</a>
                        </td>
                        <td>$45</td>
                        <td class="hidden-480">3,330</td>
                        <td>Feb 1222</td>
                        <td class="hidden-480">
                            <span class="label label-sm label-warning">Expiring</span>
                        </td>
                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <button class="btn btn-xs btn-success">
                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-info">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-warning">
                                    <i class="ace-icon fa fa-flag bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


</div>


