<div id="right-content">
	 <div class="steps mb10">
		 <ul class="steps-1 clearfix">
			 <li class=""><a href="#">自动工程看看好使不修改</a></li>
		 </ul>
	 </div>
	<input id="thirdid" value="${.thirdid}" type="hidden"></input>
	 <div class="modify-view" style="height:auto;">
		 <form id="toCodeForm" method="post" onsubmit="return   false ">
			                  <div class="textL"> ：<input type="text" class="textField28 modify-view-input" id="taTestNBA0" value="$!{.taTestNBA0}"/></div>
			                  <div class="textL"> ：<input type="text" class="textField28 modify-view-input" id="taTestNBA1" value="$!{.taTestNBA1}"/></div>
			                  <div class="textL"> ：<input type="text" class="textField28 modify-view-input" id="taTestNBA2" value="$!{.taTestNBA2}"/></div>
			                  <div class="textL"> ：<input type="text" class="textField28 modify-view-input" id="taTestNBA3" value="$!{.taTestNBA3}"/></div>
			                  <div class="textL"> ：<input type="text" class="textField28 modify-view-input" id="taTestNBA4" value="$!{.taTestNBA4}"/></div>
			 		 </form>
	 </div>
	 <div class="data-table-footer clearfix" align="center">
		 <a class="btn btn-3 " onclick="modify()"
			href="javascript:void(0);">&ensp;<span id="spanPrintOrder"><em id="txtPrintOrder">修改</em></span>
		 </a>
		 <a class="btn btn-3 " onclick="cancel()"
			href="javascript:void(0);">&ensp;<span><em>返回</em></span>
		 </a>
	 </div>

</div>
<script type="text/javascript" src="#springUrl('')/static/js//ViewMod.js"></script>